<div class="flex h-screen">
  <!-- Sidebar -->
  <div class="w-64 bg-custom-blue text-white p-4 min-h-screen hidden lg:block">
    <div class="mb-6">
      <img src="assets/Grupo_Escalante_logo.png" alt="Grupo Escalante" class="w-32 h-auto mx-auto filter grayscale" style="filter: brightness(0) invert(1);">
    </div>
    <div class="text-center mb-6">
      <p class="text-lg">{{ usuario }}</p>
      <p class="text-sm">{{ oficina }}</p>
    </div>
    <ul class="space-y-4">
      <li>
        <a (click)="referencias()" class="text-lg hover:text-gray-800 hover:bg-white p-2 rounded-md transition">
          Referencias
        </a>
      <li>
        <a (click)="facturas()" class="text-lg hover:text-gray-800 hover:bg-white p-2 rounded-md transition">
          Facturas Registradas
        </a>
      </li>
      <li>
        <a (click)="Productos()" class="text-lg hover:text-gray-800 hover:bg-white p-2 rounded-md transition">
          Productos Registrados
        </a>
      </li>
      <li>
        <a (click)="cerrarsesion()" class="text-lg hover:text-gray-800 hover:bg-white p-2 rounded-md transition">
          Cerrar Sesión
        </a>
      </li>
    </ul>
  </div>

  <div class="flex-1 p-6 bg-gray-100 overflow-auto">
    <form (ngSubmit)="agregar(); agregarNoclasificado()" class="space-y-6 max-w-2xl mx-auto">
      
      
      <div class="bg-gray-100 p-4 rounded-lg shadow">
        <p class="text-gray-700"><strong>Ciente:</strong> {{ nombre }}</p>
        <p class="text-gray-700"><strong>Oficina:</strong> {{ oficina }}</p>
        <p class="text-gray-700"><strong>Referencia:</strong> {{ referencia }}</p>
        <p class="text-gray-700"><strong>Referencia:</strong> {{ factura }}</p>

    </div>

      <!-- Factura -->
      <div class="space-y-4 mb-6">
        <!-- Información global -->
      </div>

      <!-- Producto -->
      <div class="flex flex-col md:flex-row items-center">
        <label for="producto" class="text-lg font-semibold text-gray-700 mr-4 md:mr-6">Producto:</label>
        
        <input 
          id="producto" 
          [(ngModel)]="producto" 
          name="producto" 
          required 
          [ngClass]="validacionProductoClase"
          class="p-2 w-3/4 md:w-1/2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-custom-blue"
        />
      
        <button 
          type="button" 
          (click)="validarProducto()"
          class="ml-4 px-4 py-2 bg-custom-blue text-white rounded-md hover:bg-custom-blue-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-custom-blue">
          Validar
        </button>
      </div>
      <p *ngIf="validacionProductoMensaje" [ngClass]="validacionProductoClase" class="mt-2">{{ validacionProductoMensaje }}</p>

      <!-- Descripción -->
      <div class="flex flex-col" >
        <label for="descripcion" class="text-lg font-semibold text-gray-700">Descripcion:</label>
        <input 
          id="descripcion" 
          [(ngModel)]="descripcion" 
          name="descripcion" 
          required 
          class="p-3 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-custom-blue"
        />
      </div>

      <div class="flex flex-col" *ngIf="!isProductoClasificado">
        <label for="usoMercancia" class="text-lg font-semibold text-gray-700">Uso de Mercancia:</label>
        <select 
          id="usoMercancia" 
          [(ngModel)]="usoMercancia" 
          name="usoMercancia" 
          title="Selecciona el uso de la mercancia" 
          class="p-3 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-custom-blue"
        >
          <option value="O">O: OTROS</option>
          <option value="H">H: HUMANO</option>
          <option value="V">V: VETERINARIO</option>
          <option value="I">I: INDUSTRIAL</option>
        </select>
      </div>
      
      <!-- Pestañas para Estado de la Mercancia -->
      <div class="flex flex-col" *ngIf="!isProductoClasificado">
        <label for="estadoMercancia" class="text-lg font-semibold text-gray-700">Estado de la Mercancia:</label>
        <select 
          id="estadoMercancia" 
          [(ngModel)]="estadoMercancia" 
          name="estadoMercancia" 
          title="Selecciona el estado de la mercancia" 
          class="p-3 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-custom-blue"
        >
          <option value="N">N: NUEVO</option>
          <option value="U">U: USADO</option>
          <option value="R">R: RECONSTRUIDOS</option>
          <option value="S">S: SEMIUSADOS</option>
        </select>
      </div>
      <!-- Presentación o Composición -->
      <div class="flex flex-col" *ngIf="!isProductoClasificado">
        <label for="presentacionComposicion" class="text-lg font-semibold text-gray-700">Presentación o Composición:</label>
        <input 
          id="presentacionComposicion" 
          [(ngModel)]="presentacionComposicion" 
          name="presentacionComposicion" 
          required 
          class="p-3 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-custom-blue"
        />
       <!-- Marca -->
      </div>
      <div class="flex flex-col" *ngIf="!isProductoClasificado">
        <label for="marca" class="text-lg font-semibold text-gray-700">Marca:</label>
        <input 
          id="marca" 
          [(ngModel)]="marca" 
          name="marca" 
          required 
          class="p-3 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-custom-blue"
        />
        <!-- Modelo -->
      </div>
      <div class="flex flex-col" *ngIf="!isProductoClasificado">
        <label for="modelo" class="text-lg font-semibold text-gray-700">Modelo:</label>
        <input 
          id="modelo" 
          [(ngModel)]="modelo" 
          name="modelo" 
          required 
          class="p-3 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-custom-blue"
        />
      </div>
      <!-- Número de Serie -->
      <div class="flex flex-col">
        <label for="numeroserie" class="text-lg font-semibold text-gray-700">Numero de Serie:</label>
        <input 
          id="numeroserie" 
          [(ngModel)]="numeroSerie" 
          name="numeroserie" 
          required 
          class="p-3 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-custom-blue"
        />
      </div>

      <!-- Orden -->
      <div class="flex flex-col">
        <label for="orden" class="text-lg font-semibold text-gray-700">Orden:
          <span matTooltip="El orden es el número de cómo está capturado el producto en la factura" (click)="mostrarTooltip()">ℹ️</span>

        </label>
        <input 
          id="orden" 
          [(ngModel)]="orden" 
          name="orden" 
          required 
          class="p-3 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-custom-blue"
        />
      </div>

<!-- Cantidad -->
<div class="flex flex-col">
  <label for="cantidad" class="text-lg font-semibold text-gray-700">Cantidad:</label>
  <input 
    id="cantidad" 
    [(ngModel)]="cantidad" 
    name="cantidad" 
    required 
    pattern="^\d+(\.\d+)?$"
    inputmode="decimal"
    #cantidadInput="ngModel"
    class="p-3 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-custom-blue"
    [ngClass]="{'border-red-500': cantidadInput.invalid && cantidadInput.touched}"
  />
  <p *ngIf="cantidadInput.invalid && cantidadInput.touched" class="text-red-500 mt-1">No se permiten caracteres o letras, solo valores numéricos y decimales.</p>
</div>

<!-- Peso -->
<div class="flex flex-col">
  <label for="peso" class="text-lg font-semibold text-gray-700">Peso:</label>
  <input 
    id="peso" 
    [(ngModel)]="peso" 
    name="peso" 
    required 
    pattern="^\d+(\.\d+)?$"
    inputmode="decimal"
    #pesoInput="ngModel"
    class="p-3 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-custom-blue"
    [ngClass]="{'border-red-500': pesoInput.invalid && pesoInput.touched}"
  />
  <p *ngIf="pesoInput.invalid && pesoInput.touched" class="text-red-500 mt-1">No se permiten caracteres o letras, solo valores numéricos y decimales.</p>
</div>

      <!-- Observaciones Producto -->
      <div class="flex flex-col">
        <label for="observacionesProducto" class="text-lg font-semibold text-gray-700">Observaciones Producto:</label>
        <textarea 
          id="observacionesProducto" 
          [(ngModel)]="observacionesProducto" 
          name="observacionesProducto" 
          required 
          class="p-3 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-custom-blue"
        ></textarea>
      </div>

      <!-- País -->
      <div class="flex flex-col">
        <label for="pais" class="text-lg font-semibold text-gray-700">Pais:</label>
        <select 
          id="pais" 
          [(ngModel)]="selectedpais" 
          name="pais" 
          title="Selecciona un proveedor" 
          class="p-3 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-custom-blue"
        >
          <option value="0 - PAIS">0 - PAIS</option>
          <option value="1 - AFGANISTAN (EMIRATO ISLAMICO DE)">1 - AFGANISTAN (EMIRATO ISLAMICO DE)</option>
          <option value="2 - ALBANIA (REPUBLICA DE)">2 - ALBANIA (REPUBLICA DE)</option>
          <option value="3 - ALEMANIA (REPUBLICA FEDERAL DE)">3 - ALEMANIA (REPUBLICA FEDERAL DE)</option>
          <option value="4 - ANDORRA (PRINCIPADO DE)">4 - ANDORRA (PRINCIPADO DE)</option>
          <option value="5 - ANGOLA (REPUBLICA DE)">5 - ANGOLA (REPUBLICA DE)</option>
          <option value="6 - ANGUILA">6 - ANGUILA</option>
          <option value="7 - ANTIGUA Y BARBUDA (COMUNIDAD BRITANICA DE NACIONES)">7 - ANTIGUA Y BARBUDA (COMUNIDAD BRITANICA DE NACIONES)</option>
          <option value="8 - ANTILLAS NEERLANDESAS (TERRITORIO HOLANDES DE ULTRAMAR)">8 - ANTILLAS NEERLANDESAS (TERRITORIO HOLANDES DE ULTRAMAR)</option>
          <option value="9 - ARABIA SAUDITA (REINO DE)">9 - ARABIA SAUDITA (REINO DE)</option>
          <option value="10 - ARGELIA (REPUBLICA DEMOCRATICA Y POPULAR DE)">10 - ARGELIA (REPUBLICA DEMOCRATICA Y POPULAR DE)</option>
          <option value="11 - ARGENTINA (REPUBLICA)">11 - ARGENTINA (REPUBLICA)</option>
          <option value="12 - ARMENIA (REPUBLICA DE)">12 - ARMENIA (REPUBLICA DE)</option>
          <option value="13 - ARUBA (TERRITORIO HOLANDES DE ULTRAMAR)">13 - ARUBA (TERRITORIO HOLANDES DE ULTRAMAR)</option>
          <option value="14 - AUSTRALIA (COMUNIDAD DE)">14 - AUSTRALIA (COMUNIDAD DE)</option>
          <option value="15 - AUSTRIA (REPUBLICA DE)">15 - AUSTRIA (REPUBLICA DE)</option>
          <option value="16 - AZERBAIJAN (REPUBLICA AZERBAIJANI)">16 - AZERBAIJAN (REPUBLICA AZERBAIJANI)</option>
          <option value="17 - BAHAMAS (COMUNIDAD DE LAS)">17 - BAHAMAS (COMUNIDAD DE LAS)</option>
          <option value="18 - BAHREIN (ESTADO DE)">18 - BAHREIN (ESTADO DE)</option>
          <option value="19 - BANGLADESH (REPUBLICA POPULAR DE)">19 - BANGLADESH (REPUBLICA POPULAR DE)</option>
          <option value="20 - BARBADOS (COMUNIDAD BRITANICA DE NACIONES)">20 - BARBADOS (COMUNIDAD BRITANICA DE NACIONES)</option>
          <option value="21 - BELGICA (REINO DE)">21 - BELGICA (REINO DE)</option>
          <option value="22 - BELICE">22 - BELICE</option>
          <option value="23 - BENIN (REPUBLICA DE)">23 - BENIN (REPUBLICA DE)</option>
          <option value="24 - BERMUDAS">24 - BERMUDAS</option>
          <option value="25 - BIELORRUSIA (REPUBLICA DE)">25 - BIELORRUSIA (REPUBLICA DE)</option>
          <option value="26 - BOLIVIA (REPUBLICA DE)">26 - BOLIVIA (REPUBLICA DE)</option>
          <option value="27 - BOSNIA Y HERZEGOVINA">27 - BOSNIA Y HERZEGOVINA</option>
          <option value="28 - BOTSWANA (REPUBLICA DE)">28 - BOTSWANA (REPUBLICA DE)</option>
          <option value="29 - BRASIL (REPUBLICA FEDERATIVA DE)">29 - BRASIL (REPUBLICA FEDERATIVA DE)</option>
          <option value="30 - BRUNEI (ESTADO DE) (RESIDENCIA DE PAZ)">30 - BRUNEI (ESTADO DE) (RESIDENCIA DE PAZ)</option>
          <option value="31 - BULGARIA (REPUBLICA DE)">31 - BULGARIA (REPUBLICA DE)</option>
          <option value="32 - BURKINA FASO">32 - BURKINA FASO</option>
          <option value="33 - BURUNDI (REPUBLICA DE)">33 - BURUNDI (REPUBLICA DE)</option>
          <option value="34 - BUTAN (REINO DE)">34 - BUTAN (REINO DE)</option>
          <option value="35 - CABO VERDE (REPUBLICA DE)">35 - CABO VERDE (REPUBLICA DE)</option>
          <option value="36 - CHAD (REPUBLICA DEL)">36 - CHAD (REPUBLICA DEL)</option>
          <option value="37 - CAIMAN (ISLAS)">37 - CAIMAN (ISLAS)</option>
          <option value="38 - CAMBOYA (REINO DE)">38 - CAMBOYA (REINO DE)</option>
          <option value="39 - CAMERUN (REPUBLICA DEL)">39 - CAMERUN (REPUBLICA DEL)</option>
          <option value="40 - CANADA">40 - CANADA</option>
          <option value="41 - CANAL, ISLAS DEL (ISLAS NORMANDAS)">41 - CANAL, ISLAS DEL (ISLAS NORMANDAS)</option>
          <option value="42 - CHILE (REPUBLICA DE)">42 - CHILE (REPUBLICA DE)</option>
          <option value="43 - CHINA (REPUBLICA POPULAR)">43 - CHINA (REPUBLICA POPULAR)</option>
          <option value="44 - CHIPRE (ISLA DE)">44 - CHIPRE (ISLA DE)</option>
          <option value="45 - CIUDAD DEL VATICANO (ESTADO DE LA)">45 - CIUDAD DEL VATICANO (ESTADO DE LA)</option>
          <option value="46 - COCOS (KEELING, ISLAS AUSTRALIANAS)">46 - COCOS (KEELING, ISLAS AUSTRALIANAS)</option>
          <option value="47 - COLOMBIA (REPUBLICA DE)">47 - COLOMBIA (REPUBLICA DE)</option>
          <option value="48 - COMORAS (ISLAS)">48 - COMORAS (ISLAS)</option>
          <option value="49 - COMUNIDAD EUROPEA">49 - COMUNIDAD EUROPEA</option>
          <option value="50 - CONGO (REPUBLICA DEL)">50 - CONGO (REPUBLICA DEL)</option>
          <option value="51 - COOK (ISLAS)">51 - COOK (ISLAS)</option>
          <option value="52 - COREA (REPUBLICA POPULAR DEMOCRATICA DE) (COREA DEL NORTE)">52 - COREA (REPUBLICA POPULAR DEMOCRATICA DE) (COREA DEL NORTE)</option>
          <option value="53 - COREA (REPUBLICA DE) (COREA DEL SUR)">53 - COREA (REPUBLICA DE) (COREA DEL SUR)</option>
          <option value="54 - COSTA DE MARFIL (REPUBLICA DE LA)">54 - COSTA DE MARFIL (REPUBLICA DE LA)</option>
          <option value="55 - COSTA RICA (REPUBLICA DE)">55 - COSTA RICA (REPUBLICA DE)</option>
          <option value="56 - CROACIA (REPUBLICA DE)">56 - CROACIA (REPUBLICA DE)</option>
          <option value="57 - CUBA (REPUBLICA DE)">57 - CUBA (REPUBLICA DE)</option>
          <option value="58 - CURAZAO (TERRITORIO HOLANDES DE ULTRAMAR)">58 - CURAZAO (TERRITORIO HOLANDES DE ULTRAMAR)</option>
          <option value="59 - DINAMARCA (REINO DE)">59 - DINAMARCA (REINO DE)</option>
          <option value="60 - DJIBOUTI (REPUBLICA DE)">60 - DJIBOUTI (REPUBLICA DE)</option>
          <option value="61 - DOMINICA (COMUNIDAD DE)">61 - DOMINICA (COMUNIDAD DE)</option>
          <option value="62 - ECUADOR (REPUBLICA DEL)">62 - ECUADOR (REPUBLICA DEL)</option>
          <option value="63 - EGIPTO (REPUBLICA ARABE DE)">63 - EGIPTO (REPUBLICA ARABE DE)</option>
          <option value="64 - EL SALVADOR (REPUBLICA DE)">64 - EL SALVADOR (REPUBLICA DE)</option>
          <option value="65 - EMIRATOS ARABES UNIDOS">65 - EMIRATOS ARABES UNIDOS</option>
          <option value="66 - ERITREA (ESTADO DE)">66 - ERITREA (ESTADO DE)</option>
          <option value="67 - ESLOVENIA (REPUBLICA DE)">67 - ESLOVENIA (REPUBLICA DE)</option>
          <option value="68 - ESPAÑA (REINO DE)">68 - ESPAÑA (REINO DE)</option>
          <option value="69 - ESTADO FEDERADO DE MICRONESIA">69 - ESTADO FEDERADO DE MICRONESIA</option>
          <option value="70 - ESTADOS UNIDOS DE AMERICA">70 - ESTADOS UNIDOS DE AMERICA</option>
          <option value="71 - ESTONIA (REPUBLICA DE)">71 - ESTONIA (REPUBLICA DE)</option>
          <option value="72 - ETIOPIA (REPUBLICA DEMOCRATICA FEDERAL)">72 - ETIOPIA (REPUBLICA DEMOCRATICA FEDERAL)</option>
          <option value="73 - FIDJI (REPUBLICA DE)">73 - FIDJI (REPUBLICA DE)</option>
          <option value="74 - FILIPINAS (REPUBLICA DE LAS)">74 - FILIPINAS (REPUBLICA DE LAS)</option>
          <option value="75 - FINLANDIA (REPUBLICA DE)">75 - FINLANDIA (REPUBLICA DE)</option>
          <option value="76 - FRANCIA (REPUBLICA FRANCESA)">76 - FRANCIA (REPUBLICA FRANCESA)</option>
          <option value="77 - FRANJA DE GAZA">77 - FRANJA DE GAZA</option>
          <option value="78 - GABONESA (REPUBLICA)">78 - GABONESA (REPUBLICA)</option>
          <option value="79 - GAMBIA (REPUBLICA DE LA)">79 - GAMBIA (REPUBLICA DE LA)</option>
          <option value="80 - GEORGIA (REPUBLICA DE)">80 - GEORGIA (REPUBLICA DE)</option>
          <option value="81 - GHANA (REPUBLICA DE)">81 - GHANA (REPUBLICA DE)</option>
          <option value="82 - GIBRALTAR (R.U.)">82 - GIBRALTAR (R.U.)</option>
          <option value="83 - GRANADA">83 - GRANADA</option>
          <option value="84 - GRECIA (REPUBLICA HELENICA)">84 - GRECIA (REPUBLICA HELENICA)</option>
          <option value="85 - GROENLANDIA (DINAMARCA)">85 - GROENLANDIA (DINAMARCA)</option>
          <option value="86 - GUADALUPE (DEPARTAMENTO DE)">86 - GUADALUPE (DEPARTAMENTO DE)</option>
          <option value="87 - GUAM (E.U.A.)">87 - GUAM (E.U.A.)</option>
          <option value="88 - GUATEMALA (REPUBLICA DE)">88 - GUATEMALA (REPUBLICA DE)</option>
          <option value="89 - GUINEA-BISSAU (REPUBLICA DE)">89 - GUINEA-BISSAU (REPUBLICA DE)</option>
          <option value="90 - GUINEA ECUATORIAL (REPUBLICA DE)">90 - GUINEA ECUATORIAL (REPUBLICA DE)</option>
          <option value="91 - GUINEA (REPUBLICA DE)">91 - GUINEA (REPUBLICA DE)</option>
          <option value="92 - GUYANA FRANCESA">92 - GUYANA FRANCESA</option>
          <option value="93 - GUYANA (REPUBLICA COOPERATIVA DE)">93 - GUYANA (REPUBLICA COOPERATIVA DE)</option>
          <option value="94 - HAITI (REPUBLICA DE)">94 - HAITI (REPUBLICA DE)</option>
          <option value="95 - HONDURAS (REPUBLICA DE)">95 - HONDURAS (REPUBLICA DE)</option>
          <option value="96 - HONG KONG (REGION ADMINISTRATIVA ESPECIAL DE LA REPUBLICA)">96 - HONG KONG (REGION ADMINISTRATIVA ESPECIAL DE LA REPUBLICA)</option>
          <option value="97 - HUNGRIA (REPUBLICA DE)">97 - HUNGRIA (REPUBLICA DE)</option>
          <option value="98 - INDIA (REPUBLICA DE)">98 - INDIA (REPUBLICA DE)</option>
          <option value="99 - INDONESIA (REPUBLICA DE)">99 - INDONESIA (REPUBLICA DE)</option>
          <option value="100 - IRAK (REPUBLICA DE)">100 - IRAK (REPUBLICA DE)</option>
          <option value="101 - IRAN (REPUBLICA ISLAMICA DEL)">101 - IRAN (REPUBLICA ISLAMICA DEL)</option>
          <option value="102 - IRLANDA (REPUBLICA DE)">102 - IRLANDA (REPUBLICA DE)</option>
          <option value="103 - ISLANDIA (REPUBLICA DE)">103 - ISLANDIA (REPUBLICA DE)</option>
          <option value="104 - ISLAS HEARD Y MCDONALD">104 - ISLAS HEARD Y MCDONALD</option>
          <option value="105 - ISLAS MALVINAS (R.U.)">105 - ISLAS MALVINAS (R.U.)</option>
          <option value="107 - ISLAS MARSHALL">107 - ISLAS MARSHALL</option>
          <option value="108 - ISLAS SALOMON (COMUNIDAD BRITANICA DE NACIONES)">108 - ISLAS SALOMON (COMUNIDAD BRITANICA DE NACIONES)</option>
          <option value="109 - ISLAS SVALBARD Y JAN MAYEN (NORUEGA)">109 - ISLAS SVALBARD Y JAN MAYEN (NORUEGA)</option>
          <option value="110 - ISLAS TOKELAU">110 - ISLAS TOKELAU</option>
          <option value="111 - ISLAS WALLIS Y FUTUNA">111 - ISLAS WALLIS Y FUTUNA</option>
          <option value="112 - ISRAEL (ESTADO DE)">112 - ISRAEL (ESTADO DE)</option>
          <option value="113 - ITALIA (REPUBLICA ITALIANA)">113 - ITALIA (REPUBLICA ITALIANA)</option>
          <option value="114 - JAMAICA">114 - JAMAICA</option>
          <option value="115 - JAPON">115 - JAPON</option>
          <option value="116 - JORDANIA (REINO HACHIMITA DE)">116 - JORDANIA (REINO HACHIMITA DE)</option>
          <option value="117 - KAZAKHSTAN  (REPUBLICA DE)">117 - KAZAKHSTAN  (REPUBLICA DE)</option>
          <option value="118 - KENYA (REPUBLICA DE)">118 - KENYA (REPUBLICA DE)</option>
          <option value="119 - KIRIBATI (REPUBLICA DE)">119 - KIRIBATI (REPUBLICA DE)</option>
          <option value="120 - KUWAIT (ESTADO DE)">120 - KUWAIT (ESTADO DE)</option>
          <option value="121 - KYRGYZSTAN (REPUBLICA KIRGYZIA)">121 - KYRGYZSTAN (REPUBLICA KIRGYZIA)</option>
          <option value="122 - LESOTHO (REINO DE)">122 - LESOTHO (REINO DE)</option>
          <option value="123 - LETONIA (REPUBLICA DE)">123 - LETONIA (REPUBLICA DE)</option>
          <option value="124 - LIBANO (REPUBLICA DE)">124 - LIBANO (REPUBLICA DE)</option>
          <option value="125 - LIBERIA (REPUBLICA DE)">125 - LIBERIA (REPUBLICA DE)</option>
          <option value="126 - LIBIA (JAMAHIRIYA LIBIA ARABE POPULAR SOCIALISTA)">126 - LIBIA (JAMAHIRIYA LIBIA ARABE POPULAR SOCIALISTA)</option>
          <option value="127 - LIECHTENSTEIN (PRINCIPADO DE)">127 - LIECHTENSTEIN (PRINCIPADO DE)</option>
          <option value="128 - LITUANIA (REPUBLICA DE)">128 - LITUANIA (REPUBLICA DE)</option>
          <option value="129 - LUXEMBURGO (GRAN DUCADO DE)">129 - LUXEMBURGO (GRAN DUCADO DE)</option>
          <option value="130 - MACAO">130 - MACAO</option>
          <option value="131 - MACEDONIA (ANTIGUA REPUBLICA YUGOSLAVA DE)">131 - MACEDONIA (ANTIGUA REPUBLICA YUGOSLAVA DE)</option>
          <option value="132 - MADAGASCAR (REPUBLICA DE)">132 - MADAGASCAR (REPUBLICA DE)</option>
          <option value="133 - MALASIA">133 - MALASIA</option>
          <option value="134 - MALAWI (REPUBLICA DE)">134 - MALAWI (REPUBLICA DE)</option>
          <option value="135 - MALDIVAS (REPUBLICA DE)">135 - MALDIVAS (REPUBLICA DE)</option>
          <option value="136 - MALI (REPUBLICA DE)">136 - MALI (REPUBLICA DE)</option>
          <option value="137 - MALTA">137 - MALTA</option>
          <option value="138 - MARRUECOS (REINO DE)">138 - MARRUECOS (REINO DE)</option>
          <option value="139 - MARTINICA (DEPARTAMENTO DE) (FRANCIA)">139 - MARTINICA (DEPARTAMENTO DE) (FRANCIA)</option>
          <option value="140 - MAURICIO (REPUBLICA DE)">140 - MAURICIO (REPUBLICA DE)</option>
          <option value="141 - MAURITANIA (REPUBLICA ISLAMICA DE)">141 - MAURITANIA (REPUBLICA ISLAMICA DE)</option>
          <option value="142 - MEXICO (ESTADOS UNIDOS MEXICANOS)">142 - MEXICO (ESTADOS UNIDOS MEXICANOS)</option>
          <option value="143 - MOLDAVIA (REPUBLICA DE)">143 - MOLDAVIA (REPUBLICA DE)</option>
          <option value="144 - MONACO (PRINCIPADO DE)">144 - MONACO (PRINCIPADO DE)</option>
          <option value="145 - MONGOLIA">145 - MONGOLIA</option>
          <option value="146 - MONSERRAT (ISLA)">146 - MONSERRAT (ISLA)</option>
          <option value="147 - MOZAMBIQUE (REPUBLICA DE)">147 - MOZAMBIQUE (REPUBLICA DE)</option>
          <option value="148 - MYANMAR (UNION DE)">148 - MYANMAR (UNION DE)</option>
          <option value="149 - NAMIBIA (REPUBLICA DE)">149 - NAMIBIA (REPUBLICA DE)</option>
          <option value="150 - NAURU">150 - NAURU</option>
          <option value="151 - NAVIDAD (CHRISTMAS) (ISLAS)">151 - NAVIDAD (CHRISTMAS) (ISLAS)</option>
          <option value="152 - NEPAL (REINO DE)">152 - NEPAL (REINO DE)</option>
          <option value="153 - NICARAGUA (REPUBLICA DE)">153 - NICARAGUA (REPUBLICA DE)</option>
          <option value="154 - NIGER (REPUBLICA DE)">154 - NIGER (REPUBLICA DE)</option>
          <option value="155 - NIGERIA (REPUBLICA FEDERAL DE)">155 - NIGERIA (REPUBLICA FEDERAL DE)</option>
          <option value="156 - NIVE (ISLA)">156 - NIVE (ISLA)</option>
          <option value="157 - NORFOLK (ISLA)">157 - NORFOLK (ISLA)</option>
          <option value="158 - NORUEGA (REINO DE)">158 - NORUEGA (REINO DE)</option>
          <option value="159 - NUEVA CALEDONIA (TERRITORIO FRANCES DE ULTRAMAR)">159 - NUEVA CALEDONIA (TERRITORIO FRANCES DE ULTRAMAR)</option>
          <option value="160 - NUEVA ZELANDIA">160 - NUEVA ZELANDIA</option>
          <option value="161 - OMAN (SULTANATO DE)">161 - OMAN (SULTANATO DE)</option>
          <option value="162 - PACIFICO, ISLAS DEL (ADMON. E.U.A.)">162 - PACIFICO, ISLAS DEL (ADMON. E.U.A.)</option>
          <option value="163 - PAISES BAJOS (REINO DE LOS) (HOLANDA)">163 - PAISES BAJOS (REINO DE LOS) (HOLANDA)</option>
          <option value="164 - PAISES NO DECLARADOS">164 - PAISES NO DECLARADOS</option>
          <option value="165 - PAKISTAN (REPUBLICA ISLAMICA DE)">165 - PAKISTAN (REPUBLICA ISLAMICA DE)</option>
          <option value="166 - PALAU (REPUBLICA DE)">166 - PALAU (REPUBLICA DE)</option>
          <option value="167 - PANAMA (REPUBLICA DE)">167 - PANAMA (REPUBLICA DE)</option>
          <option value="168 - PAPUA NUEVA GUINEA (ESTADO INDEPENDIENTE DE)">168 - PAPUA NUEVA GUINEA (ESTADO INDEPENDIENTE DE)</option>
          <option value="169 - PARAGUAY (REPUBLICA DEL)">169 - PARAGUAY (REPUBLICA DEL)</option>
          <option value="170 - PERU (REPUBLICA DEL)">170 - PERU (REPUBLICA DEL)</option>
          <option value="171 - PITCAIRNS (ISLAS DEPENDENCIA BRITANICA)">171 - PITCAIRNS (ISLAS DEPENDENCIA BRITANICA)</option>
          <option value="172 - POLINESIA FRANCESA">172 - POLINESIA FRANCESA</option>
          <option value="173 - POLONIA (REPUBLICA DE)">173 - POLONIA (REPUBLICA DE)</option>
          <option value="174 - PORTUGAL (REPUBLICA PORTUGUESA)">174 - PORTUGAL (REPUBLICA PORTUGUESA)</option>
          <option value="175 - PUERTO RICO (ESTADO LIBRE ASOCIADO DE LA COMUNIDAD DE)">175 - PUERTO RICO (ESTADO LIBRE ASOCIADO DE LA COMUNIDAD DE)</option>
          <option value="176 - QATAR (ESTADO DE)">176 - QATAR (ESTADO DE)</option>
          <option value="177 - REINO UNIDO DE GRAN BRETAÑA E IRLANDA DEL NORTE">177 - REINO UNIDO DE GRAN BRETAÑA E IRLANDA DEL NORTE</option>
          <option value="178 - REPUBLICA CHECA">178 - REPUBLICA CHECA</option>
          <option value="179 - REPUBLICA CENTROAFRICANA">179 - REPUBLICA CENTROAFRICANA</option>
          <option value="180 - REPUBLICA DEMOCRATICA POPULAR LAOS">180 - REPUBLICA DEMOCRATICA POPULAR LAOS</option>
          <option value="181 - REPUBLICA DOMINICANA">181 - REPUBLICA DOMINICANA</option>
          <option value="182 - REPUBLICA ESLOVACA">182 - REPUBLICA ESLOVACA</option>
          <option value="183 - REPUBLICA POPULAR DEL CONGO">183 - REPUBLICA POPULAR DEL CONGO</option>
          <option value="184 - REPUBLICA RUANDESA">184 - REPUBLICA RUANDESA</option>
          <option value="185 - REUNION (DEPARTAMENTO DE LA) (FRANCIA)">185 - REUNION (DEPARTAMENTO DE LA) (FRANCIA)</option>
          <option value="186 - RUMANIA">186 - RUMANIA</option>
          <option value="187 - RUSIA (FEDERACION DE)">187 - RUSIA (FEDERACION DE)</option>
          <option value="188 - SAHARA OCCIDENTAL (REPUBLICA ARABE SAHARAVI DEMOCRATICA)">188 - SAHARA OCCIDENTAL (REPUBLICA ARABE SAHARAVI DEMOCRATICA)</option>
          <option value="189 - SAMOA (ESTADO INDEPENDIENTE DE)">189 - SAMOA (ESTADO INDEPENDIENTE DE)</option>
          <option value="190 - SAN CRISTOBAL Y NIEVES (FEDERACION DE) (SAN KITTS-NEVIS)">190 - SAN CRISTOBAL Y NIEVES (FEDERACION DE) (SAN KITTS-NEVIS)</option>
          <option value="191 - SAN MARINO (SERENISIMA REPUBLICA DE)">191 - SAN MARINO (SERENISIMA REPUBLICA DE)</option>
          <option value="192 - SAN PEDRO Y MIQUELON">192 - SAN PEDRO Y MIQUELON</option>
          <option value="193 - SAN VICENTE Y LAS GRANADINAS">193 - SAN VICENTE Y LAS GRANADINAS</option>
          <option value="194 - SANTA ELENA (ISLA ASCENSION Y TRISTAN DE ACUÑA)">194 - SANTA ELENA (ISLA ASCENSION Y TRISTAN DE ACUÑA)</option>
          <option value="195 - SANTA LUCIA">195 - SANTA LUCIA</option>
          <option value="196 - SANTO TOME Y PRINCIPE (REPUBLICA DEMOCRATICA DE)">196 - SANTO TOME Y PRINCIPE (REPUBLICA DEMOCRATICA DE)</option>
          <option value="197 - SENEGAL (REPUBLICA DE)">197 - SENEGAL (REPUBLICA DE)</option>
          <option value="198 - SEYCHELLES (REPUBLICA DE)">198 - SEYCHELLES (REPUBLICA DE)</option>
          <option value="199 - SIERRA LEONA (REPUBLICA DE)">199 - SIERRA LEONA (REPUBLICA DE)</option>
          <option value="200 - SINGAPUR (REPUBLICA DE)">200 - SINGAPUR (REPUBLICA DE)</option>
          <option value="201 - SIRIA (REPUBLICA ARABE DE)">201 - SIRIA (REPUBLICA ARABE DE)</option>
          <option value="202 - SOMALIA (REPUBLICA DEMOCRATICA DE)">202 - SOMALIA (REPUBLICA DEMOCRATICA DE)</option>
          <option value="203 - SRI LANKA (REPUBLICA DEMOCRATICA SOCIALISTA DE)">203 - SRI LANKA (REPUBLICA DEMOCRATICA SOCIALISTA DE)</option>
          <option value="204 - SUDAFRICA (REPUBLICA DE)">204 - SUDAFRICA (REPUBLICA DE)</option>
          <option value="205 - SUDAN (REPUBLICA DEL)">205 - SUDAN (REPUBLICA DEL)</option>
          <option value="206 - SUECIA (REINO DE)">206 - SUECIA (REINO DE)</option>
          <option value="207 - SUIZA (CONFEDERACION HELVETICA)">207 - SUIZA (CONFEDERACION HELVETICA)</option>
          <option value="208 - SURINAME (REPUBLICA DE)">208 - SURINAME (REPUBLICA DE)</option>
          <option value="209 - SWAZILANDIA (REINO DE)">209 - SWAZILANDIA (REINO DE)</option>
          <option value="210 - TADJIKISTAN (REPUBLICA DE)">210 - TADJIKISTAN (REPUBLICA DE)</option>
          <option value="211 - TAILANDIA (REINO DE)">211 - TAILANDIA (REINO DE)</option>
          <option value="212 - TAIWAN (REPUBLICA DE CHINA)">212 - TAIWAN (REPUBLICA DE CHINA)</option>
          <option value="213 - TANZANIA (REPUBLICA UNIDA DE)">213 - TANZANIA (REPUBLICA UNIDA DE)</option>
          <option value="214 - TERRITORIO BRITANICO DEL OCEANO INDICO">214 - TERRITORIO BRITANICO DEL OCEANO INDICO</option>
          <option value="215 - TERRITORIOS FRANCESES, AUSTRALES Y ANTARTICOS">215 - TERRITORIOS FRANCESES, AUSTRALES Y ANTARTICOS</option>
          <option value="216 - TIMOR ORIENTAL (REPUBLICA DEMOCRATICA DE)">216 - TIMOR ORIENTAL (REPUBLICA DEMOCRATICA DE)</option>
          <option value="217 - TOGO (REPUBLICA DE)">217 - TOGO (REPUBLICA DE)</option>
          <option value="218 - TONGA (REINO DE)">218 - TONGA (REINO DE)</option>
          <option value="219 - TRINIDAD Y TOBAGO (REPUBLICA DE)">219 - TRINIDAD Y TOBAGO (REPUBLICA DE)</option>
          <option value="220 - TUNEZ (REPUBLICA TUNECINA)">220 - TUNEZ (REPUBLICA TUNECINA)</option>
          <option value="221 - TURCAS Y CAICOS (ISLAS)">221 - TURCAS Y CAICOS (ISLAS)</option>
          <option value="222 - TURKMENISTAN (REPUBLICA DE)">222 - TURKMENISTAN (REPUBLICA DE)</option>
          <option value="223 - TURQUIA (REPUBLICA DE)">223 - TURQUIA (REPUBLICA DE)</option>
          <option value="224 - TUVALU (COMUNIDAD BRITANICA DE NACIONES)">224 - TUVALU (COMUNIDAD BRITANICA DE NACIONES)</option>
          <option value="225 - UCRANIA">225 - UCRANIA</option>
          <option value="226 - UGANDA (REPUBLICA DE)">226 - UGANDA (REPUBLICA DE)</option>
          <option value="227 - URUGUAY (REPUBLICA ORIENTAL DEL)">227 - URUGUAY (REPUBLICA ORIENTAL DEL)</option>
          <option value="228 - UZBEJISTAN (REPUBLICA DE)">228 - UZBEJISTAN (REPUBLICA DE)</option>
          <option value="229 - VANUATU (REPUBLICA DE)">229 - VANUATU (REPUBLICA DE)</option>
          <option value="230 - VENEZUELA (REPUBLICA BOLIVARIANA DE)">230 - VENEZUELA (REPUBLICA BOLIVARIANA DE)</option>
          <option value="231 - VIETNAM (REPUBLICA SOCIALISTA DE)">231 - VIETNAM (REPUBLICA SOCIALISTA DE)</option>
          <option value="232 - VIRGENES (ISLAS) (BRITANICAS)">232 - VIRGENES (ISLAS) (BRITANICAS)</option>
          <option value="233 - VIRGENES (ISLAS) ((NORTEAMERICANAS))">233 - VIRGENES (ISLAS) ((NORTEAMERICANAS))</option>
          <option value="234 - YEMEN (REPUBLICA DE)">234 - YEMEN (REPUBLICA DE)</option>
          <option value="235 - YUGOSLAVIA (REPUBLICA FEDERAL DE)">235 - YUGOSLAVIA (REPUBLICA FEDERAL DE)</option>
          <option value="236 - ZAMBIA (REPUBLICA DE)">236 - ZAMBIA (REPUBLICA DE)</option>
          <option value="237 - ZIMBABWE (REPUBLICA DE)">237 - ZIMBABWE (REPUBLICA DE)</option>
          <option value="238 - ZONA DEL CANAL DE PANAMA">238 - ZONA DEL CANAL DE PANAMA</option>
          <option value="239 - ZONA NEUTRAL IRAQ-ARABIA SAUDITA">239 - ZONA NEUTRAL IRAQ-ARABIA SAUDITA</option>
          <option value="240 - PAISES NO DECLARADOS">240 - PAISES NO DECLARADOS</option>
          <option value="241 - SERBIA">241 - SERBIA</option>  
        </select>
      </div>

      <!-- Unidad -->
      <div class="flex flex-col">
        <label for="Unidad" class="text-lg font-semibold text-gray-700">Unidad:</label>
        <select 
          id="unidad" 
          [(ngModel)]="selectedunidad" 
          name="unidad" 
          title="Selecciona la unidad" 
          class="p-3 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-custom-blue"
        >
          <option *ngFor="let unidad of unidades" [value]="unidad.clave + ' - ' + unidad.descripcion">
            {{ unidad.clave }} - {{ unidad.descripcion }}
          </option>
        </select>
      </div>

      <!-- Estatus -->
      <div class="flex flex-col">
        <label class="text-lg font-semibold text-gray-700">Estatus</label>
        <div class="flex items-center space-x-6">
          <!-- Opción "Sí" -->
          <label class="flex items-center space-x-2">
            <input
              type="radio"
              name="isDefectuoso"
              value="1"
              [(ngModel)]="isDefectuoso"
              class="text-custom-blue focus:ring-custom-blue" />
            <span class="text-lg">Sí</span>
          </label>
          <!-- Opción "No" -->
          <label class="flex items-center space-x-2">
            <input
              type="radio"
              name="isDefectuoso"
              value="0"
              [(ngModel)]="isDefectuoso"
              class="text-custom-blue focus:ring-custom-blue" />
            <span class="text-lg">No</span>
          </label>
        </div>
      </div>
      
      <!-- Modal de Éxito -->
      <div *ngIf="showSuccessModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
        <div class="bg-white rounded-lg p-6 text-center max-w-sm w-full">
          <img src="assets/listo.png" alt="Éxito" class="w-24 h-24 mx-auto mb-4 animate-bounce">
          <p class="text-lg font-semibold text-gray-800">¡Registro exitoso!</p>
          <button 
            (click)="closeModal()" 
            class="mt-6 bg-custom-blue text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition">
            Cerrar
          </button>
        </div>
      </div>

      <!-- Botones -->
      <div class="flex justify-end space-x-4 mt-6">
        <button 
          type="submit" 
          class="bg-custom-blue text-white px-6 py-3 rounded-lg hover:bg-blue-600 transition"
        >
          Registrar
        </button>
        <button 
          type="button" 
          (click)="cancelar()" 
          class="bg-gray-300 text-gray-700 px-6 py-3 rounded-lg hover:bg-gray-400 transition"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
  <!-- Spinner de carga -->
<div *ngIf="isloading" class="fixed inset-0 flex items-center justify-center bg-white bg-opacity-75 z-50">
  <div role="status">
    <svg aria-hidden="true" class="w-8 h-8 mr-2 text-gray-200 animate-spin fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08197 50.5908C9.08197 73.1865 27.4043 91.5089 50 91.5089C72.5957 91.5089 90.918 73.1865 90.918 50.5908C90.918 27.9951 72.5957 9.67273 50 9.67273C27.4043 9.67273 9.08197 27.9951 9.08197 50.5908Z" fill="currentColor"/>
      <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5538C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.723 75.2124 7.41289C69.5422 4.10285 63.2754 1.94025 56.7222 1.05126C51.7666 0.367259 46.7499 0.446843 41.8297 1.27873C39.297 1.6983 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0965 10.1071C47.8511 9.5046 51.7191 9.52673 55.4474 10.1675C60.8784 11.0868 65.9923 13.122 70.3966 16.1496C74.8009 19.1773 78.4036 23.1239 80.9414 27.742C83.1979 31.697 84.803 36.0174 85.7082 40.5409C86.2465 43.0323 89.5422 44.6781 93.9676 39.0409Z" fill="currentFill"/>
    </svg>
    <span class="sr-only">Loading...</span>
  </div>
</div>